* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
  }
  //colors
 
  $logo-color:  linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%);
  //$background-color: linear-gradient(to right, #fad0c4 0%, #ffd1ff 100%);
  $background-color: linear-gradient(to right, #dfe9f3 0%, white 100%);
  $circle-color:linear-gradient( 135deg, #E8D07A 10%, #5312D6 100%);
  //$circle-color:  linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  $circle-shadow: -20px -20px 60px #bebebe,
  20px 20px 60px #ffffff;
  $h1-color: black;
  $button-color: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%);
  //sizes
  $h1-size : 3.5vw;

  //main global styles

  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .s1, .s2, .s3, .s4 {
    //background-image: $background-color;
    background-image: linear-gradient( to right, #8e9eab 0%, #eef2f3 100%);
    background-size: cover;
    display: grid;
    height: 100vh;
  }
  .panel-background {
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    backdrop-filter: blur(40px);
    box-shadow: rgba(255, 255, 255, 0.5) -20px -20px 45px inset,
      rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    
   }

  .panel {
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    backdrop-filter: blur(6px);
    border-radius: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 60px;
    box-shadow: rgba(255, 255, 255, 0.5) -20px -20px 45px inset,
      rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;
    position: relative;
    
   }
   .btn-grad {
    background-image: $button-color;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    width: 20%;
    height: 8%;
    
    
  }

 
  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .btn-grad-light{
    position: relative;
    background-image: $button-color;
    margin: 10px;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    width: 20%;
    height: 8%;
    top:10%;
    left: 73%;
    

  }
  .btn-grad-light:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .section{
    width: 100vw;
    height: 100vh;
  }

  .s1, .s2, .s3, .s4{
    
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 10vh 1fr 10vh ;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background:  linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);;
    transition: ease 0.5s;
    overflow-x: hidden;
    transition: 0.5s;
  }

  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: $h1-color;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  .social-icons{
    margin-top: 25vh;
    margin-left: 80vw;
    a{
      margin-left: 1vw;
    }
   
  }
  .fa {
    padding: 20px;
    font-size: 1.5vw;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    float: left;
   
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-github {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .s1 .logo{
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    padding-left: 2vw;
    p{
        font-size: $h1-size;
        font-weight: 600;
        background: $logo-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    span{
        background: $logo-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
    }
  
  }
  .btn-menu{
    grid-row: 1/2;
    grid-column: 2/3;
    z-index: 10;
    cursor: pointer;
    span{
      font-size: $h1-size;
      float: right;
      margin-right: 3vw;
    }
    p{
      float: left;
      margin-top: 2vw;
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
  .s1 i{
    float: left;
    margin-top: 2vw ;
    padding-left: 2vw;
  }
  .s1 img{
    grid-row: 1/3;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 300px ;
    z-index: 0;

  }
  .s1 h1 {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: $h1-size;
    font-weight: 900;
    z-index: 1;
    margin-top: 16vh;
    margin-left: 8vw;
    background: $h1-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .s1 h2 {
    grid-row: 2/3;
    grid-column: 1/2;
    
    font-weight: 900;
    z-index: 1;
    margin-top: 40vh;
    margin-left: 8vw;
    background: $h1-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .s1 .btn-grad{
    grid-row: 2/3;
    grid-column: 1/2;
    z-index: 1;
    margin-top: 50vh;
    margin-left: 8vw;
    

  }
  .circle{
   
      position: relative;
      z-index: 0;
      width: 40%;
      height: 40%;
      border-radius: 80% ;
      background-image: $circle-color;
  }
  .circle-one{
    grid-row: 2/3;
    grid-column: 1/2;
      position: relative;
      top:-25%;
      left: -30%;
      z-index: 0;
      width: 80%;
      height: 80%;
      border-radius: 80% ;
      background-image: $circle-color;
      box-shadow: $circle-shadow;
  }
  .circle-two{
    grid-row: 2/3;
    grid-column: 2/3;
      position: relative;
      top:0%;
      left: 15%;
      z-index: 0;
      width: 90%;
      height: 90%;
      border-radius: 60% ;
      background-image: linear-gradient( 0deg, #E8D07A 50%, #5312D6 100%);;;
      box-shadow: $circle-shadow;
  }
  .circle-three{
    grid-row: 2/3;
    grid-column: 2/3;
      position: relative;
      top:-30%;
      left: 80%;
      z-index: 0;
      width: 60%;
      height: 60%;
      border-radius: 70% ;
      background-image: linear-gradient( 135deg, #E8D07A 10%, #5312D6 100%);
      box-shadow: $circle-shadow;
  }
  .circle-four{
    grid-row: 2/3;
    grid-column: 1/2;
      position: relative;
      top:50%;
      left: 80%;
      z-index: 0;
      width: 80%;
      height: 80%;
      border-radius: 100% ;
      background-image: linear-gradient( 200deg, #E8D07A 30%, #5312D6 100%);
     
  }

  .s1 .panel{
    margin-top: 10vh;
    margin-left: 0vw;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 40vw;
    height: 60vh;
    z-index: 1;
  }

  .s1 .panel img{
   width: 60%;
   height: 60%;
   float: right;
   border-top-right-radius: 40px;
  
  }

  .s1 .panel .btn-grad{
    
    float: right;
    z-index: 2;
  
   }
   
  .s2 .panel-background{
    position: relative;
    grid-row: 1/4;
    grid-column: 1/2;
    width: 80%;
    z-index: 1;
    border-bottom-right-radius: 60px;
    border-bottom-right-radius: 300px;
  }
  .s2 .circle{
    grid-row: 2/3;
    grid-column: 1/2;
    top: -25%;
    left: -10%;
    width: 70%;
    height: 70%;
    box-shadow: $circle-shadow;
  }
  .s2 h1 {
    grid-row: 2/3;
    grid-column: 1/2;
    z-index: 3;
    font-size: $h1-size;
    font-weight: 900;
    padding-top: 10vh;
    padding-left: 6vw;
    background: $h1-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .description {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 20vw;
    width: 50%;
    margin-left: 6vw;
    z-index: 2;
    
  }
  .description p {
   
  }
  .s2 .btn-grad{
    
    grid-row: 2/3;
    grid-column: 1/2;
    z-index: 10;
    margin-top: 70vh;
    margin-left: 20vw;
    cursor: pointer;
  }
  .s2 .btn-grad-light{
    position: relative;
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 75vh;
    margin-left: 25vw ;
    font-size: 1.5vw;  
  }
  .s2 img{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
    height: 80%;
  }
  .s3 .panel-background{
    position: relative;
    grid-row: 1/4;
    grid-column: 2/3;
    width: 100%;
    z-index: 1;
    border-top-left-radius: 300px;
  }
  .s3 .circle{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 80%;
    height: 80%;
    top: 45%;
    left: 30%;
    box-shadow: $circle-shadow;
    
  }

  .s3 h1 {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: $h1-size;
    font-weight: 900;
    padding-top: 10vh;
    padding-left: 6vw;
    background: $h1-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .s3 .btn-grad{
    
    grid-row: 2/3;
    grid-column: 1/2;
    z-index: 10;
    margin-top: 70vh;
    margin-left: 20vw;
    cursor: pointer;
  }
  .s3 img{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 70%;
    height: 90%;
    margin-left: 10vw;
    z-index: 2;
  }
  .s4 .panel-background{
    position: relative;
    grid-row: 1/4;
    grid-column: 1/3;
    width: 100%;
    z-index: 1;
  }
  .s4 .circle{
    grid-row: 2/4;
    grid-column: 1/2;
    top: 5%;
    left: -15%;
    width: 60%;
    box-shadow: $circle-shadow;
  }
  .s4 h1 {
    grid-row: 2/4;
    grid-column: 1/3;
    font-size: $h1-size;
    z-index: 2;
    font-weight: 900;
    padding-top: 0vh;
    padding-left: 6vw;
    background: $h1-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .s4 .description{
    grid-row: 2/3;
    grid-column: 2/4;
    margin-top: 0vw;
    width: 60%;
  }


  .circle-s4-one{
    
    grid-row: 2/4;
    grid-column: 1/2;
    top: 10%;
    left: 40%;
    position: relative;
      z-index: 0;
      width: 60%;
      height: 60%;
      border-radius: 80% ;
      background-image: $circle-color;
      box-shadow: $circle-shadow;
  }

  .circle-s4-two{
    
    grid-row: 2/4;
    grid-column: 1/2;
    top: 40%;
    left: -10%;
    position: relative;
      z-index: 0;
      width: 80%;
      height: 80%;
      border-radius: 60% ;
      background-image: $circle-color;
      box-shadow: $circle-shadow;
  }



  .s4 .panel{
   
    grid-row: 2/4;
    grid-column: 1/3;
    width: 20vw;
    height: 55vh;
    padding: 0;
    margin: 2vw;
    z-index: 2;
  }
  .first-panel{
    left: 5%;
    top:25%;
    z-index: 2;
    p, h2{
      padding: 1vw;
    }
  }

  .second-panel{
    left: 30%;
    top:25%;
    z-index: 2;
    p, h2{
      padding: 1vw;
    }
  }
  .third-panel{
    left: 55%;
    top:25%;
    z-index: 2;
    p, h2{
      padding: 1vw;
    }
    
  }

  .s4 .panel img{
    width: 100%;
    height: 40%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
   }

 
   .s4 .panel .btn-grad{
     width: 40%;
     height: 10%;
     padding-bottom: 2vw;
     float: right;
     margin-right: 6vw;
    }
    footer{
      grid-row: 3/4;
      grid-column: 1/3;
      z-index: 3;
      margin-top: 1vw ;
      margin-left: 46vw;
      p{
        font-size: 12px;
      }
    }
    .social-footer{
     margin-left: 30vw;
     margin-top: 75vh;
      grid-row: 2/3;
      grid-column: 2/3;
      z-index: 2;
      
      a{
        margin-left: 2vw;
        padding-right: 2vw;
      }
    }






  
    
  
  

  